# Top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{cs,cpp,h,hpp,inl}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.ini]
indent_style = space
indent_size = 2
